DATABASE_URL=postgresql://neondb_owner:npg_T9gRtSPcW1Nz@ep-lingering-fire-ag6cxmf5-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DATABASE_SSL=true
NODE_ENV=development
